.dark-body {
    background-color: #3a4149;
    border: 1px solid #23282c;
    color: white;
}

.dark-header {
    background-color: #343b41;
    border-bottom: 1px solid #23282c;
    color: white;
}

.dark-footer {
    background-color: #343b41;
    border-top: 1px solid #23282c;
    color: white;
}

.product-image {
    object-fit: cover;
    width: 100%;
    border-radius: 3px;
}

.table { color: white; }
.table th { border-top: 1px solid #23282c; }
.table td { border-top: 1px solid #23282c; }
.table td:nth-child(2) { color: #20a8d8; }
.table thead th { border-bottom: 1px solid #23282c; }
.table th { color: white; }
.table thead tr th { font-weight: bold; font-size: 20px; }

.dark-body h6 { color: #20a8d8}
.personal-info-with-space { margin-top: 15px; }

.bold-blue {font-weight: 900; color: #1890ff}

.center-table td p {cursor: pointer};
.center-table td p:hover {text-decoration: underline; color: #1890ff};

.d-md-down-none a:hover {color: #1890ff};
.overflow-card {max-height: 550px; overflow-y: auto;;}
