.dark-body {
    background-color: #3a4149;
    border: 1px solid #23282c;
    color: white;
}

.dark-header {
    background-color: #343b41;
    border-bottom: 1px solid #23282c;
    color: white;
}
